@charset "UTF-8";
/* CSS Document */

/* 基礎 */

body {
	font-family:"メイリオ", "Meiryo", "Hiragino Kaku Gothic", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
	font-size: 80%;
}
img {
	vertical-align: text-bottom;
	border: 0;
}
a {
	color: #245fbb;
	text-decoration: underline;
}
a:visited {
	color: #245fbb;
}
/* ヘッダー */

div#base {
	width: 800px;
	text-align: center;
	background: url("../images/common/base.png") repeat-y;
	padding: 0px 0px 0px 0px;
	margin: 60px auto 0px auto;
	z-index: 100;
}
h2 {
	color: #9aa0a1;
	font-size: 120%;
	text-align: left;
	letter-spacing: 1px;
	line-height: 40px;
	background: url("../images/common/h2.png") no-repeat;
	padding: 2px 0px 0px 50px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
}
div#header {
	width: 800px;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 0px auto;
}
div#header div#title {
	display: inline;
	float: left;
	width: 800px;
	height: 60px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
*:first-child+html div#header div#title {
	height: 80px;
}
div#header div#title h1 {
	font-size: 100%;
	text-indent: -9000px;
	background: url("../images/common/title.png") no-repeat center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div#header div#title h1 a {
	display: block;
	width: 820px;
	height: 70px;
}
div#header div#title h1 a img {
	width: 100%;
	height: 100%;
}
div#header div#menu {
	clear: both;
	width: 800px;
	height: 80px;
	text-align: center;
	background: url("../images/common/menu.png") no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div#header div#menu ul {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 205px;
}
div#header div#menu ul li {
	float: left;
	width: 102.5px;
	list-style-type: none;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div#header div#menu ul li a {
	display: block;
	color: #CCC;
	height: 45px;
	text-decoration: none;
	line-height: 45px;
	background: url("../images/common/overme.png") no-repeat 0px 0px;
}
div#header div#menu ul li a:hover {
	background-position: 0px -45px;
}
div#header div#menu ul li a.active {
	display: block;
	color: #CCC;
	height: 45px;
	text-decoration: none;
	line-height: 45px;
	background: url("../images/common/menuac.png") no-repeat 0px 0px;
}
/* コンテンツ */

div#content {
	background: url("../images/common/back.png") repeat-y;
	width: 800px;
}
.box {
	width: 674px;
	height: 210px;
	margin: 0px 63px 0px 63px;
}
.box_center {
	width: 674px;
	height: 210px;
	margin: 22px 63px 22px 63px;
}
.box_3_side {
	float: left;
	width: 210px;
	height: 210px;
	margin: 0px 0px 0px 0px;
}
.box_3_center {
	float: left;
	width: 210px;
	height: 210px;
	margin: 0px 22px 0px 22px;
}

.box_2_main {
	float: left;
	width: 442px;
	height: 210px;
	margin: 0px 0px 0px 0px;
}
.box_2_sub_left {
	float: left;
	width: 210px;
	height: 210px;
	margin: 0px 22px 0px 0px;
}

.box_2_sub_right {
	float: left;
	width: 210px;
	height: 210px;
	margin: 0px 0px 0px 22px;
}

div#footer {
	width: 800px;
	height: 30px;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 0px auto;
	background: url("../images/common/footer.png") no-repeat;
}

.jockeyonme {
  display: none;
  position: relative;
  z-index: 100;
  top: -210px;
}

.member_desc {
  display: none;
}

.comments {
  display: none;
}

.comment {
  position: relative;
  bottom: 30px;
}
