@charset "UTF-8";
/* CSS Document */

/* 基礎 */

body {
	color: #858585;
	font-family: "メイリオ", "Meiryo", "Hiragino Kaku Gothic", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
	font-size: 80%;
	text-align: center;
	background-image: url("../images/common/back.gif");
	background-repeat: repeat;
}
img {
	vertical-align: text-bottom;
	border: 0;
}
a {
	color: #245fbb;
	text-decoration: underline;
}
a:visited {
	color: #245fbb;
}
/* ヘッダー */

div#base {
	width: 820px;
	text-align: center;
	background: url("../images/common/base.png") repeat-y;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 0px auto;
	z-index: 100;
}
h2 {
	color: #9aa0a1;
	font-size: 120%;
	text-align: left;
	letter-spacing: 1px;
	line-height: 40px;
	background: url("../images/common/h2.png") no-repeat;
	padding: 2px 0px 0px 50px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
}
div#header {
	width: 820px;
	padding: 0px 0px 0px 0px;
	margin: 60px auto 0px auto;
}
div#header div#title {
	display: inline;
	float: left;
	width: 820px;
	height: 70px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 21px 0px;
}
*:first-child+html div#header div#title {
	height: 80px;
}
div#header div#title h1 {
	font-size: 100%;
	text-indent: -9000px;
	background: url("../images/common/title.png") no-repeat center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div#header div#title h1 a {
	display: block;
	width: 820px;
	height: 70px;
}
div#header div#title h1 a img {
	width: 100%;
	height: 100%;
}
div#header div#menu {
	clear: both;
	width: 820px;
	height: 45px;
	text-align: center;
	background: url("../images/common/menu.png") no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div#header div#menu ul {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 205px;
}
div#header div#menu ul li {
	float: left;
	width: 102.5px;
	list-style-type: none;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div#header div#menu ul li a {
	display: block;
	color: #CCC;
	height: 45px;
	text-decoration: none;
	line-height: 45px;
	background: url("../images/common/overme.png") no-repeat 0px 0px;
}
div#header div#menu ul li a:hover {
	background-position: 0px -45px;
}
div#header div#menu ul li a.active {
	display: block;
	color: #CCC;
	height: 45px;
	text-decoration: none;
	line-height: 45px;
	background: url("../images/common/menuac.png") no-repeat 0px 0px;
}
/* コンテンツ */

div#members {
	position: absolute;
	top: 205px;
	width: 820px;
}
div#boxl {
	position: absolute;
	left: 0;
	width: 375px;
	margin: 0px 0px 0px 30px;
}
div#boxl img:hover {
	position:static;
	background: url("../images/common/overm.png") no-repeat 0px 0px;
}
div#boxr {
	position: absolute;
	right: 0;
	width: 375px;
	margin: 0px 30px 0px 0px;
}
div#boxr img:hover {
	background: url("../images/common/overm.png") no-repeat 0px 0px;
}
div#box {
	text-align: left;
	width: 600px;
	margin: 0px 105px 0px 105px;
}
div#box p {
	text-align: left;
	padding: 0px 54px 0px 54px;
	line-height: 16px;
}
div#box li {
	text-align: left;
	margin: 0px 35px 0px 73px;
	line-height: 16px;
}
/* メンバーリスト */

.kanekure {
	background: url("../images/common/meb.png") no-repeat 0px 0px;
	font-weight: bold;
	text-align: left;
	width: 375px;
	height: 184px;
	margin: 98px 0px 0px 0px;
	padding: 6px 0px 0px 10px;
	position: relative;
	display: none;
}

/* tumblr */

ul.chat {
  list-style-type: none;
  padding-left: 0;
  margin-left: 40px;
  width: 520px;
}

div#box ul.chat li {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 0;
  /*margin-left: 50px;*/
  margin-left: 0px;
  margin-right: 0px;
}

ul.chat li.even {
  display:block;
  background-color: rgba(255,255,255,0.02);
}

ul.chat {
  border: 1px solid #252525;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}


ul.chat li span.label {
  font-weight: bold;
}

h2 a, h2 a:visited {
  text-decoration: none;
	color: #9aa0a1;
}
h2 a:hover {
	color: #cccfd0;
}
